html {
	background:url('PRINCE1.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-size: 40pt;
	font-family: 'Amatic SC', cursive;
	color: #2F4F4F;
	margin-left: 500pt;
	margin-top: 70pt;
	letter-spacing: 5pt;
	line-height: 60pt;
}
img {
	height: 20px;
	width: 20px;
}